@media (max-width: 767px) { // change mediaquery to used variable
  .hidden-xs {
    display: none;
  }
}

// ==========================================================================
// = Cookie-Info
// ==========================================================================

.cookie-info {
  display: none;

  .no-js &,
  .no-cookies & {
    display: block;
  }
}

// ==========================================================================
// = Cookie-Button
// ==========================================================================

.cookie-accept {
  .no-js &,
  .no-cookies & {
    display: none;
  }
}
