// ==========================================================================
// = Common Styles
// ==========================================================================

@mixin for-tablet-portrait-down {
  .hidden-xs {
    display: none;
  }
}

// ==========================================================================
// = Cookie-Info
// ==========================================================================

.cookie-info {
  display: none;

  .no-js &,
  .no-cookies & {
    display: block;
  }

  button {
    .no-js &,
    .no-cookies & {
      display: none;
    }
  }
}
