<div class="cookie-info">
  <p>Wir verwenden Cookies auf dieser Website. <span class="hidden-xs">Cookies sind kleine Textdateien, die auf Ihrem Computer gespeichert werden. Sie dienen dazu, unsere Seiten nutzerfreundlicher zu machen und diese optimiert darzustellen. Durch die Nutzung unserer Seiten erklären Sie sich mit dem Einsatz von Cookies einverstanden.</span> <a href="#">Zur Datenschutzerklärung</a></p>

  <button type="button" class="cookie-accept">Ok<span class="hidden-xs">ay</span></button>
</div>
