<div id="sandbox-only-id-social-media-share"></div>

<div class="social-media-share" data-url="http://www.url-to-share.com/" data-title="title to share">
  <ul>
    <li><a class="social-media-facebook">Auf Facebook teilen</a></li>
    <li><a class="social-media-twitter">Auf Twitter teilen</a></li>
    <li><a class="social-media-googleplus">Auf Google+ teilen</a></li>
    <li><a class="social-media-xing">Auf XING teilen</a></li>
    <li><a class="social-media-whatsapp">Bei WhatsApp teilen</a></li>
    <li><a class="social-media-pinterest">Bei Pinterest teilen</a></li>
    <li><a class="social-media-email">Per E-Mail empfehlen</a></li>
  </ul>
</div>
