<!--  Essential META Tags -->

<meta property="og:title" content="Title for social sharing">
<meta property="og:type" content="website">
<meta property="og:description" content="Description for social sharing">
<meta property="og:image" content="http://www.example.com/image.jpg">
<meta property="og:url" content="http://www.example.com/index.html">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->

<meta name="og:site_name" content="Site Name for social sharing">
<meta name="twitter:image:alt" content="Alt text for image">

<!--  Non-Essential, But Required for Analytics -->

<meta property="fb:app_id" content="your_app_id">
<meta name="twitter:site" content="@website-username">
