<div id="sandbox-sitemap" class="sitemap--inactive">
  <button type="button" id="sitemap__button">&#9776;</button>
  <div class="sitemap__container">
    <p><strong>Website</strong></p>
    <ul>
      <li><a href="sandbox.html" tabindex="-1">**Sandbox**</a></li>
      <% if (includeErrorpage) { %><li><a href="errorpage.html" tabindex="-1">Errorpage</a></li><% } %>
    </ul>
  </div>
</div>

<style>
  #sandbox-sitemap {
    background-color: white;
    border-color: currentColor;
    border-style: solid;
    border-width: 5px 5px 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    transition: transform 0.5s;
    z-index: 999;
  }

  .sitemap--inactive {
    transform: translateX(-100%);
  }

  #sitemap__button {
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    left: 100%;
    outline: none;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
  }

  .sitemap__container {
    max-height: 65vh;
    max-width: calc(100vw - 80px);
    overflow-y: auto;
    padding: 5px 15px;
  }

  @media print {
    #sandbox-sitemap {
      display: none !important;
    }
  }
</style>

<script>
  var sitemap_button = document.getElementById("sitemap__button");
  sitemap_button.addEventListener("click", toggle_sandboxSitemap);

  function toggle_sandboxSitemap() {
    var sitemap = document.getElementById("sandbox-sitemap");
    var className = sitemap.getAttribute("class");

    if (className == "sitemap--active") {
      sitemap.className = "sitemap--inactive";
      sitemap_button.innerHTML = "&#9776;";
    } else {
      sitemap.className = "sitemap--active";
      sitemap_button.innerHTML = "&#10006;";
    }
  }
</script>
