<script type="text/javascript">
  window.onload = function() {

    var sitemap_button = document.getElementById("sitemap__button");
    sitemap_button.addEventListener("click", toggle_sitemap);

    function toggle_sitemap() {
      var
      sitemap = document.getElementById("sandbox-sitemap"),
      className = sitemap.getAttribute("class");

      if (className == "sitemap--active") {
        sitemap.className = "sitemap--inactive";
        sitemap_button.innerHTML = "&#10095;";
      } else {
        sitemap.className = "sitemap--active";
        sitemap_button.innerHTML = "&#10094;";
      }
    }

    if (window.NodeList && !NodeList.prototype.forEach) {
      NodeList.prototype.forEach = function (callback, thisArg) {
        thisArg = thisArg || window;
        for (var i = 0; i < this.length; i++) {
          callback.call(thisArg, this[i], i, this);
        }
      };
    }

    var SandboxSiteMap = {
      /**
      * Caches all jQuery Objects, Strings or Variables for later use.
      * @function _cacheElements
      * @private
      */
      _cacheElements: function() {
        this.title;
        this.sandboxNaviListArrayInitial = [];
        this.sandboxNaviListArrayCurrent = [];
        this.sandboxOnlyIdNodes = document.querySelectorAll('[id^="sandbox-only-id"]');
        this.sandboxNaviList = document.getElementById('sandbox-navi-list');
        this.sandboxNavi = document.getElementById('sandbox-navi');
        this.sandboxNaviNav = document.getElementById('sandbox-navi-nav');
        this.sandboxNaviSearch = document.getElementById('sandbox-navi-search');
      },

      /**
      * Initiates the module.
      * @function init
      * @public
      */
      init: function() {
        SandboxSiteMap._cacheElements();

        if (SandboxSiteMap.sandboxOnlyIdNodes.length > 0) {
          SandboxSiteMap._setupSandboxComponentNavi();
          SandboxSiteMap._bindEvents();
        }
      },

      /**
      * create component navigation for sandbox
      * @function _setupSandboxComponentNavi
      * @public
      */
      _setupSandboxComponentNavi: function() {
        SandboxSiteMap.sandboxNavi.className = 'closed';

        SandboxSiteMap.sandboxNaviAZFilter = document.createElement('button');
        SandboxSiteMap.opensandboxNavi = document.createElement('button');

        SandboxSiteMap.sandboxNaviNav.appendChild(SandboxSiteMap.sandboxNaviAZFilter);
        SandboxSiteMap.sandboxNaviNav.appendChild(SandboxSiteMap.opensandboxNavi);
        SandboxSiteMap.opensandboxNavi.className = 'sandbox-navi-btn open-nav';
        SandboxSiteMap.sandboxNaviAZFilter.className = 'sandbox-navi-filter';

        // cache and filter sandbox components
        SandboxSiteMap.sandboxOnlyIdNodes.forEach(function(element) {
          SandboxSiteMap.sandboxNaviListArrayInitial.push(element.getAttribute('id'));
        });

        SandboxSiteMap.sandboxNaviListArrayInitial = SandboxSiteMap.sandboxNaviListArrayInitial.filter(function(item, pos) {
          return SandboxSiteMap.sandboxNaviListArrayInitial.indexOf(item) == pos;
        });
        // clone sandboxNaviListArrayInitial
        SandboxSiteMap.sandboxNaviListArrayCurrent = SandboxSiteMap.sandboxNaviListArrayInitial.slice(0);

        SandboxSiteMap._fillSandboxNaviList();
        SandboxSiteMap.sandboxNavi.className += ' active';
      },

      /**
      * fill sandbox-navi list with id's from components
      * @function _fillSandboxNaviList
      * @public
      */
      _fillSandboxNaviList: function(elementArray) {
        elementArray = elementArray || SandboxSiteMap.sandboxNaviListArrayCurrent;

        // delete and fill list
        SandboxSiteMap.sandboxNaviList.innerHTML = '';

        elementArray.forEach(function(element) {
          var
          aElement,
          title =
          element.replace('sandbox-only-id','')
          .replace(/\-/ig, ' ');

          aElement = document.createElement('a');
          aElement.innerText = title;
          aElement.setAttribute('href', '#'+element);

          SandboxSiteMap.sandboxNaviList.appendChild(aElement);
        });
      },

      /**
      * search string within sandbox-navi list
      * @function _searchWithinSandboxNaviList
      * @public
      */
      _searchWithinSandboxNaviList: function( query) {
        SandboxSiteMap._fillSandboxNaviList(
        SandboxSiteMap.sandboxNaviListArrayCurrent.filter(function(el) {
          return el.toLowerCase().indexOf(query.toLowerCase()) !== -1;
        })
        );
      },

      /**
      * BindEvents
      * @function _bindEvents
      * @public
      */
      _bindEvents: function() {

        // show/hide component-navi
        SandboxSiteMap.opensandboxNavi && SandboxSiteMap.opensandboxNavi.addEventListener("click", function(event) {
          var
          element = event.currentTarget;

          if (SandboxSiteMap.sandboxNavi.className.indexOf('closed') > -1 ) {
            element.className = element.className.replace('open-nav', 'close-nav');
            SandboxSiteMap.sandboxNavi.className = SandboxSiteMap.sandboxNavi.className.replace('closed', 'opened');
          } else {
            element.className = element.className.replace('close-nav', 'open-nav');
            SandboxSiteMap.sandboxNavi.className = SandboxSiteMap.sandboxNavi.className.replace('opened', 'closed');
          }

        }, false);

        if (SandboxSiteMap.sandboxNaviSearch) {
          SandboxSiteMap.sandboxNaviSearch.addEventListener("keydown", function(event) {
            var
            query = event.currentTarget.value;

            SandboxSiteMap._searchWithinSandboxNaviList(query);
          });
        }

        // toggle search for component-navi
        if (SandboxSiteMap.sandboxNaviAZFilter) {
          SandboxSiteMap.sandboxNaviAZFilter.addEventListener("click", function(event) {

            // remove search query
            SandboxSiteMap.sandboxNaviSearch && (SandboxSiteMap.sandboxNaviSearch.value = '');

            if(SandboxSiteMap.sandboxNavi.className.indexOf('order-asc') === -1 ) {

              // clone array
              SandboxSiteMap.sandboxNaviListArrayCurrent = SandboxSiteMap.sandboxNaviListArrayInitial.slice(0);

              // sort array
              SandboxSiteMap.sandboxNaviListArrayCurrent.sort(function(a, b) {
                var
                nameA = a.trim().toUpperCase(), // Groß-/Kleinschreibung ignorieren
                nameB = b.trim().toUpperCase(); // Groß-/Kleinschreibung ignorieren

                if (nameA < nameB) {return -1;}
                if (nameA > nameB) {return 1;}
                // Namen müssen gleich sein
                return 0;
              });

              SandboxSiteMap.sandboxNavi.className += ' order-asc';
            } else {

              SandboxSiteMap.sandboxNaviListArrayCurrent = SandboxSiteMap.sandboxNaviListArrayInitial;
              SandboxSiteMap.sandboxNavi.className = SandboxSiteMap.sandboxNavi.className.replace(' order-asc', '');
            }

            SandboxSiteMap._fillSandboxNaviList();
          }, false);
        }
      },
    }

    SandboxSiteMap.init();
  }
</script>
