// ==========================================================================
// = Common Styles
// ==========================================================================

html {<% if (includeRwd) { %>
  font-family: 'xs';<% } %>
  min-height: 100%;
  position: relative; // positioning footer<% if (includeRwd) { %>

  @mixin for-phone-only {
    font-family: 'sm';
  }

  @mixin for-tablet-portrait-only {
    font-family: 'md';
  }

  @mixin for-tablet-landscape-only {
    font-family: 'lg';
  }

  @mixin for-desktop-up {
    font-family: 'xl';
  }<% } %>
}

body {
  @mixin text-size-adjust;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

// ==========================================================================
// = Layout
// ==========================================================================

.intern {
  margin: 0 auto;
  max-width: $content-width;
}
