// ==========================================================================
// = Variables
// ==========================================================================
<% if (includeRwd) { %>
// Breakpoints
$bp-smartphone-small: 360px;
$bp-tablet-small: 768px;
$bp-laptop-small: 1024px;
$bp-desktop-small: 1280px;

$bp-smartphone-large: calc($bp-tablet-small - 1);
$bp-tablet-large: calc($bp-laptop-small - 1);
$bp-laptop-large: calc($bp-desktop-small - 1);<% } %>

// ==========================================================================
// = Colors
// ==========================================================================

$color-white: #fff;
$color-black: #000;

// ==========================================================================
// = Z-Index
// ==========================================================================

$z-base: 1;

// ==========================================================================
// = Mixins
// ==========================================================================

// Base64 background-image regular
@define-mixin base64-image-regular $url {
  background-inline-image: url($(url) + '.png');
  background-repeat: no-repeat;
}

// Base64 background-image with png fallback
@define-mixin base64-image-retina $url {
  background-inline-image: url($(url) + '.svg');
  background-repeat: no-repeat;
}

@define-mixin text-size-adjust $value: 100% {
  text-size-adjust: $value;
}

@define-mixin set-origin $value {
  transform-origin: $value;
}

// ==========================================================================
// = Placeholder
// ==========================================================================

@define-extend clearfix {
  clear: fix; // rucksack css
}
