// ==========================================================================
// = Variables
// ==========================================================================

$image-path: /assets/img;

// ==========================================================================
// = Colors
// ==========================================================================

$color-white: #fff;
$color-black: #000;

// ==========================================================================
// = Z-Index
// ==========================================================================

$z-base: 1;
<% if (includeRwd) { %>
// ==========================================================================
// = Breakpoints
// ==========================================================================

@define-mixin for-phone-only {
  @media (max-width: 599px) { @mixin-content; }
}

@define-mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @mixin-content; }
}

@define-mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @mixin-content; }
}

@define-mixin for-tablet-portrait-down {
  @media (max-width: 899px) { @mixin-content; }
}

@define-mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @mixin-content; }
}

@define-mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1219px) { @mixin-content; }
}

@define-mixin for-tablet-landscape-down {
  @media (max-width: 1219px) { @mixin-content; }
}

@define-mixin for-desktop-up {
  @media (min-width: 1220px) { @mixin-content; }
}

@define-mixin for-desktop-only {
  @media (min-width: 1220px) and (max-width: 1920px) { @mixin-content; }
}

@define-mixin for-big-desktop-up {
  @media (min-width: 1921px) { @mixin-content; }<% } %>
}

// ==========================================================================
// = Mixins
// ==========================================================================

// Base64 background-image regular
@define-mixin base64-image-regular $url {
  background-inline-image: url($(url) + '.png');
  background-repeat: no-repeat;
}

// Base64 background-image with png fallback
@define-mixin base64-image-retina $url {
  background-inline-image: url($(url) + '.svg');
  background-repeat: no-repeat;
}

@define-mixin text-size-adjust $value: 100% {
  text-size-adjust: $value;
}

@define-mixin set-origin $value {
  transform-origin: $value;
}

@define-mixin grid-list $items-per-line, $wrap: nowrap, $justify: center, $spacing: $content-padding, $grid-list-item: .grid-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: $justify;
  margin-left: calc(-1 * $spacing * .5);
  margin-right: calc(-1 * $spacing * .5);
  margin-top: -$spacing;

  > $(grid-list-item) {
    box-sizing: border-box;
    padding-top: $spacing;
    padding-left: calc($spacing * .5);
    padding-right: calc($spacing * .5);
    min-height: 1px; // Bugfix IE10 height
    width: calc(100% / $items-per-line);
  }

  > $(grid-list-item)_x2 {
    width: calc((100% / $items-per-line) * 2 + (0 * $spacing));
  }

  > $(grid-list-item)-big {
    flex-grow: 1;
  }
}

// ==========================================================================
// = Placeholder
// ==========================================================================

@define-extend clearfix {
  clear: fix; // rucksack css
}
