<!-- max-width if element floats and has caption -->

<!-- default image -->
<figure>
  <img src="http://imagefoo.dev.webit.de/500x300/bbb/999.png" width="500" height="300" alt="optionaler Bildalternativtext">
  <figcaption>optionale Bildunterschrift</figcaption>
</figure>

<!-- linked image -->
<figure>
  <a href="#"><img src="http://imagefoo.dev.webit.de/500x300/bbb/999.png" width="500" height="300" alt="Linktext"></a>
  <figcaption>optionale Bildunterschrift</figcaption>
</figure>

<!-- image zoom -->
<figure>
  <a href="http://imagefoo.dev.webit.de/900x500/bbb/999.png" class="img-zoom" rel="img-group" title="Hier steht eine Bildunterschrift, die in dem Overlay (Colorbox) angezeigt wird."><img src="http://imagefoo.dev.webit.de/500x300/bbb/999.png" width="500" height="300" alt="vergrößerte Bildansicht"></a>
  <figcaption>optionale Bildunterschrift</figcaption>
</figure>
