<!DOCTYPE html>

<html class="no-js" lang="de">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="404-Seite mit Link zur Startseite.">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#00823c">

    <title><%= ProjectName %> - Fehlerseite</title>

    <link rel="shortcut icon" href="/assets/drew/gen/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/<%= ProjectName %>-errorpage.css">

  </head>
  <body>
    <header class="header">
      <div class="inner">
        <!-- add logo {app:{logo}}-->
        <a class="logo" href="#">
          <img src="http://imagefoo.dev.webit.de/305x205/999/fff.png" width="305" height="205" alt="optionaler Bildalternativtext">
        </a>
      </div>
    </header>


    <main class="main" role="main" id="content">
      <div class="inner">
        <h1>404</h1>
        {svg:{errorpage:{error-404}}}
        <p>Die von Ihnen aufgerufene URL ###hier URL einsetzen### konnte nicht gefunden werden.</p>
      </div>

      <a href="index.html">zur Startseite</a>

    </main> <!-- wrapper -->

  </body>
</html>
