<!DOCTYPE html>
<html class="no-js" lang="de">

  <head>

    <meta charset="utf-8">
    <meta name="description" content="">
    {app:{site-icons:{windows-tile-icon}}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= ProjectName %></title>

    {app:{site-icons}}
    <link rel="stylesheet" href="assets/css/<%= ProjectName %>.css">

    <script type="text/javascript">
      var html_node = document.getElementsByTagName("html")[0];
      html_node.className =
      html_node.className.replace( /(?:^|\s)no-js(?!\S)/g , ' js');
    </script>

  </head>
  <body>
    {app:{sandbox-sitemap}}

    <header class="header" role="banner"></header>

    <main class="main">

      <h1 class="heading style1"><%= ProjectName %></h1>

    </main> <!-- wrapper -->

    <footer class="footer" role="contentinfo"></footer>

    <% if (wysiwygCMS) { %><!-- front-end only: --><% } %>
    <script async data-main="assets/js/<%= ProjectName %>" src="assets/js/libs/require.js"></script>

    <% if (wysiwygCMS) { %>
    <!-- used in wysiwyg CMS:
    <link rel="stylesheet" href="assets/css/app/_deferred/backend/backend.css">
    <script src="assets/js/libs/require.js"></script>
    <script charset="utf-8">
      require(['assets/js/<%= ProjectName %>'], function() {
        require(['assets/js/deferred/backend'], function(Backend) {
          Backend.init();
        });
      });
    </script>
    -->
    <% } %>

  </body>
</html>
